/*

	Homepage Style Sheet
	
	Filename: HomepageStyle.css
	
*/

section {
	display: block;
}
	
body {
	background-color: #222222;
	margin: 0px;
	margin-top: 5px;
}

footer {
	margin-top: 60px;
}

section {
	margin-top: 35px;
	margin-left: auto;
	margin-right: auto;
	width:530px;
	padding: 10px;
	padding-left: 15px;
	padding-right: 15px;
	background-color: hsl(0, 0%, 20%);
	border: 5px;
	border-radius: 10%;
	border-style: solid;
	border-color: solid black;
}

h1 {
	font-size: 80px;
	font-family: Arial Black;
	color: #e4e4e4;
}

h2 {
	font-family: Helvetica;
	font-size: 20px;
	color: #e4e4e4;
	text-align: center;
}

section h2:first-letter {
	font-size: 40px;
	padding-right: 3px;
	text-shadow: 3px 3px 0 black;
}

.logo {
	display: flex;
	align-items: center;	
}

.logo img {
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 120px;
}
.logo h1 {
	display: inline-block;
	margin: 0;
	padding-left: 10px;
	vertical-align: middle;
	text-shadow: 5px 5px 0 black;
}

@media (max-width: 1079px) {
	section {
		margin-top: 106px;
	}
}

@media (max-width: 565px) {
	section {
		margin-top: 177px;
	}
}

article {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 20px;
}

div[class^="col-"] {
	flex: 1;
}

article img {
	border-radius: 5%;
	border: 5px solid black;
	opacity: 0.85;
	transition: border-color 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

article img:hover {
	border: 3px solid #2c65b4 !important;
	opacity: 1;
}

p {
	font-family: Helvetica;
	font-size: 18px;
	color: #e4e4e4;
	text-align: center;
}



